<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Events</title>
    <link rel="stylesheet" href="{% static 'home/css/event_list.css' %}">
</head>
<body>
    <div class="navbar">
        <h2>Admin Panel - Welcome, {{ user.username |title }}</h2>
        <div>
            <a href="{% url 'home:admin-settings' %}">Dashboard</a>
            {% comment %} <a href="{% url 'home:events' %}">Events</a> {% endcomment %}
            <a href="{% url "home:staff-manage" %}">Staff</a>
            <a href="#">Notices</a>
            {% comment %} <a href="{% url 'home:admin-settings' %}"> Home </a> {% endcomment %}
        </div>
    </div>
    {% if events %}
     <header>
        <h1>All Events</h1>
    </header>
        {% for event in events  %}
        
        <div class="events-container">
            <ul class="events-list">
                <li class="event-item">
                    <span> Event-Name = > {{event.Title}} </span>
                    <div class="event-buttons">
                        <a href="{% url 'home:update_event' event.id %}" class="btn" >Update</a>
                        <a href="{% url 'home:Delete_event' event.id %}" class="delete-btn" >Delete</a>
                                                    
                    </div>
                </li>
            </ul>
        </div>
        
        {% endfor %}
        <center>  <a href="{% url 'home:add_event' %}" class="add-btn" >Add Event </a> </center>
    
     {% else %}
           <center> <p> No Events Has Been Added  : ( </p> </center>
            <center>   <a href="{% url 'home:add_event' %}" class="add-btn" >Add Event </a> </center>
            
     {% endif %}
</body>
</html>
