<!DOCTYPE html>
<html lang="en">
        {% extends "home/base.html" %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
            HOME 
    {% endblock title %}
</head>
<body>
    {% block h1 %}
            Trusted by more than 11000 + Students ! 
    {% endblock h1 %}
    {% block Page %}
            " Learn with Smile For The Better Future : ) "
    {% endblock Page %}
    {% block contact %}
    {% endblock contact %}
    
</body>
</html>